/* You can add global styles to this file, and also import other style files */
  
.btn-primary {
    background-color: #5dbeb7 !important;
    border-color: #5dbeb7 !important;
  }

  .btn-outline-primary {
    color: #5dbeb7 !important;
    background-color: #ffffff !important;
    border-color: #5dbeb7 !important;
  }

  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: #ffffff !important;
    background-color: #5dbeb7 !important;
    border-color: #5dbeb7 !important;
  }
  
  .link-secondary{
    color: #5dbeb7 !important;
  }

  