  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Free Phone + Free Talk, Text, & Data* EVERY Month!</h1>
        <p class="lead">Please select your location to view plans available in your area.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">California</button>
        </div>
        <p>*Free phone dependent on Qualifying California LifeLine service. Cost of phone and service varies by state.</p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="../../assets/images/pc-banner.png" alt="" width="720">
      </div>
    </div>
  </div>


  <div class="container px-4 py-5" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../assets/images/bg_gradinat.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="mb-4 display-6 lh-1 fw-bold">Always Stay Connected.</h2>
            <p>At Excess Telecom we believe in simple up front pricing.  Our basic lifeline service plans includes Unlimited Talk and Text with 4GB of high speed data included with every month.  New customers will receive a free smart phone when they sign up for service.<br>For customers not qualifying for Lifeline you can still get affordable prepaid wireless service from Excess Telecom.  With our simple one price plan non lifeline customers get the same unlimited talk and text with 4GB of data for $14.85 per month plus taxes and fees and a one time activation fee of $39.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../assets/images/bg_gradinat.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="mb-4 display-6 lh-1 fw-bold">See If You Qualify</h2>
            <p>Excess Telecom Wireless offers Wireless service subsidized by the Federal Lifeline program and state programs where applicable. Lifeline is a federal assistance program that provides a subsidy every month on behalf of qualified individuals who participate in government assistance programs.</p>
            <div class="d-flex justify-content-center">
              <a role="button" routerLink="/qualify" class="btn btn-outline-primary btn-lg px-4 me-md-2 fw-bold">How to qualify?</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../assets/images/bg_gradinat.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="mb-4 display-6 lh-1 fw-bold">Get more out of your Lifeline service plan.</h2>
            <p>With three different ways to buy more, it is easier than ever to refill your plan. Simply go online, call customer service, or purchase in-store to get the most out of your lifeline plan.</p>
          </div>
        </div>
      </div>
    </div>
  </div>