<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/images/logo.jpeg" alt="" width="300" height="150">
    <h1 class="display-5 fw-bold">Choose a location</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Please select your location to view plans available in your area.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">California</button>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <main>
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">NON LIFELINE (RETAIL)</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$14.85<small class="text-muted fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited Voice</li>
                    <li>Unlimited Text</li>
                    <li>4 GB Data</li>
                    <li>Customer Support 24/7</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-outline-primary">Call now</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                  <h4 class="my-0 fw-normal">LIFELINE</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$0.0<small class="text-muted fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited Voice</li>
                    <li>Unlimited Text</li>
                    <li>4 GB Data</li>
                    <li>Customer Support 24/7</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Call now</button>
                </div>
              </div>
            </div>
          </div>
        </main>
    </div>
  </div>
  